.block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.block__flexcolumn {
  flex-direction: column;
  align-items: normal;
}

.form__group {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.form__group .form__row {
  margin: 1rem;
}